.app{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.app .box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(99, 52, 228);
  border-radius: 10px;
  background-color: aquamarine;
  padding: 20px;
  width: 300px;
  height: 100px;
}
button{
  background-color: rgb(243, 81, 170);
  font-size: medium;
  font-style: italic;
  border: 1px solid black;  

}